html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box {
  max-width: 600px;
  max-height: 600px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 20px;
  padding: 25px 45px 45px 45px;
  text-align: center;

  &-headline {
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    margin-bottom: 25px;
  }

  &-quote {
    color: white;
    font-size: 24px;
    line-height: 38px;
  }
}